<div class="jumbotron">
  <h1 class="display-4"><%= @saludo %></h1>
  <p class="lead"><%= @texto1 %></p>
  <hr class="my-4">
  <p><%= home_text_description_helper %></p>
  <p class="lead">
    <%= link_to "Learn More", "//rubyonrails.org/", target: '_blank', class: 'btn btn-primary btn-lg' %>
  </p>
</div>
